*{
	margin: 0;
	padding: 0;	
}
body {
	width:1024px;
	margin: 0 auto;
	border: 1px solid #666666;
}
header{
	background: #7595BF;
	padding:15px 20px;
	text-align:left;
	height: 90px;
}
#logo{
	float:left;
	margin: 0px 45px 10px 10px;
	background: transparent url('../images/logo.png');
	width: 90px;
	height: 90px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-repeat: no-repeat;
}
.header-text{
	margin-top:25px;	
}
header h1{
	font: 16pt arial, sans-serif;
		margin-bottom:5px;
}
header h2{
	font: 13pt arial, sans-serif;
	color: #fff;
}
nav {
	width:100%;
	background: #10477e;
	padding-left: 0px;

}
nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
	font: bold 10pt arial, sans-serif;
	width: 18%;
}

nav a:link, nav a:visited {
    display: block;    
    color: white;
    background-color: #10477e;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover, nav a:active {
    background-color: #d9d8d8;
    color:#10477e;
}
footer{    
	height: 100px;
	background: #7595BF;
	color: white;
}

.main{
	background: #FFFFFF;
	/*padding: 50px 20px;*/
	color: black;	
}
.main h1{
	margin: 30px 0px 50px 0px;
	font: bold 14pt arial, san-serif;	
	text-align:center;
	
}
.main h2{
	margin: 25px 0px 25px 0px;
	font: bold 12pt arial, san-serif;	
	/*text-align:center;*/
}
.contenido{/*<div class=​"mmenu">​*/
	width:100%;
	margin: 0 auto 20px auto;	
	/*border: 1px solid black;*/
}
.contenido  .resultados{
	margin-left: auto;
	margin-right: auto;
}
.contenido  .paginator, .contenido .busqueda{
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.contenido .opcion{
	margin-left: 10%;
	margin-right: auto;
	text-align:center;
}

.contenido .mainbox{
	margin-left: 20%;
	width:75%;
	
}

.cedula{

	float:right;
	text-align:center;
}

.nombre{
	
	text-align:center;
}

.flexible{
	list-style: none;
  
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
.caja70{
    width:72%;
}
.caja15{
    width:15%;
}
.mediacaja{	
	/*border: 1px solid blue;*/
	width: 50%;
}
form input[type=text],
form input[type=password],
.textfield{
	width:150px;
	height:25px;
	border:1px solid black;
	border-radius:5px;
	padding-left:10px;    
}
select{
    height:25px;
    border:1px solid black;
	border-radius:5px;
	padding-left:10px;    
}
textarea{
 border:1px solid black;
	border-radius:5px;
	padding-left:10px;    
}
input[type=submit], .search-button{
	border-radius: 5px;
	background: #10477e;
	color:white;
	padding: 10px 30px;
	text-align:center;
	border:none;
}
.new-button{
	border-radius: 500px;
	color:#10477e;
	text-align:center;
	border:none;
	float: left;
	
}
.update-button{
	border-radius: 5px;

	color:white;
	text-align:center;
	border:none;
}
.busqueda {
	width: 500px;
	background: #ddd;
	border: 1px solid #999;
	box-shadow: 7px 7px 5px #888888;
}
.busqueda input{
	margin: 10px 0px;
}
.busqueda-header{
	background: #10477e;
	font: 10pt arial, san-serif;
	color:white;
}
.busqueda-header h3{
/*display: block;*/
/*font-size: 1.37em;*/

font: 11.7pt arial, san-serif;
    font-weight: bold;
color: white;
/*height: 18px;
font-size: 18px;
*/
	}

.busqueda form{
	margin-bottom:20px;
	text-align:center;
}
.busqueda form select{
	border-radius:2px;
	border: 1px solid #666666;
	height: 25px;
	margin: 10px 0px 15px 0px;
}
.busqueda form .textfield{
	border:1px solid #666666;
	
}
.cedula {
	width: 250px;
	
}
.nombre{
	width: 250px;
	
}
